// Names come from http://chir.ag/projects/name-that-color
$base-font-size: 16;

////////////
// Colors //
////////////
$sea-buckthorn-yellow: #FAAC31;

$mountain-meadow-green: #1ABC9C;

$havelock-blue: #63ADE1;
$danube-blue: #4F94C9;
$steel-blue: #4080BD;

//// greys
$nevada-grey: #626668;
$abbey-grey: #4F5355;

//// light greys
$regent-grey: #979DA1;
$wild-sand-grey: #F4F4F4;

//// courses
$course-ela: #AB5FAB;
$course-world-language: #C2416E;
$course-social-studies: #D8734C;
$course-computer-science: #DD983C;
$course-math: #5EAFBA;
$course-science: #9284CE;
$course-other: #A99988;


///////////////////////
// Color assignments //
///////////////////////
$nav-background-color: $havelock-blue;